<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<header>
        <div id="menu-container">
        <button id="menu-toggle" class="menu-button">☰</button>
        <div id="menu" class="menu-items">
            <a href="{{ site.baseurl }}/">Home</a>
            <a href="{{ site.baseurl }}/contact.html">Contact</a>
            <a href="{{ site.baseurl }}/project1.html">Viewshed Scoring Toolbox</a>
            <a href="{{ site.baseurl }}/project2.html">USU Campus Tree Tour</a>
            <a href="{{ site.baseurl }}/project3.html">Ski Slope Suitability Analysis</a>
        </div>
    </div>
</header>
<body>
    <main>
        {{ content }}
    </main>

    <footer>
        <p>&copy; 2026 Dallin Moon. All rights reserved.</p>
    </footer>

    <script src="{{ site.baseurl }}/assets/js/menu.js"></script>
</body>
</html>
